<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add User</title>
  </head>
  <body>
    <form class="" action="/addprofile" method="get">
      <input type="text" name="name" placeholder="Name">Name<br>
      <input type="text" name="email" placeholder="Email">Email<br>
      <input type="text" name="url" placeholder="URL">URL<br>
      <input type="text" name="picture" placeholder="Picture URL">Picture URL<br><br>
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
