<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <h3>{{url}}</h3> <img src="{{picture}}" alt="">
    {{/each}}
    </ul>
  </body>
</html>
